@media (max-width: 1000px) {
    ._wrap {
        width: 100%;
        min-width: 320px;
        padding: 0 30px;
        box-sizing: border-box;
    }

    ._list .num,
    ._list .writer,
    ._list .count {
        display: none;
    }

    ._list .date {
        width: 40%;
    }

    ._list .title {
        text-indent: 10px;
    }

    ._list .top .title {
        text-indent: 0;
    }

    ._page a {
        width: 26px;
        height: 26px;
    }

    ._page a.bt {
        padding-top: 7px;
    }
    
    ._page a.num {
        padding-top: 6px;
    }

    ._view .info dl {
        width: 50%;
        padding: 0;
    }

    ._view .info dl:nth-child(-n+2) {
        margin-bottom: 5px;
    }

    ._view .info dl::before {
        display: none;
    }

    ._view .info dl dt,
    ._view .info dl dd {
        font-size: 1.2rem;
    }

    ._write .info dl {
        width: 49%;
    }

    ._write .info dl:first-child {
        margin-right: 2%;
    }

    ._write .title dt,
    ._write .info dt {
        display: none;
    }

    ._write .title dd,
    ._write .info dd {
        width: 100%;
    }

    ._write .title input[type="text"],
    ._write .info input[type="text"],
    ._write .info input[type="password"] {
        width: 100%;
    }
}